OPENAI_APY_KEY=your_openai_api_key_here
BASE_URL=the_provider_base_url_here
OPENAI_MODEL=openai/gpt-oss-20b
DATABASE_URL=your_database_url_here
MAX_INPUT_TOKENS=3000
MAX_OUTPUT_TOKENS=500
POSTGRES_USER=your_postgres_username
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_database_name